  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-md-between">
        <a class="navbar-brand text-primary" id="nav-title" href="#">Argentina Programa</a>

            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalLoginForm">Iniciar sesión</button>

             <!-- Vertically centered modal -->
             <div class="modal fade" id="modalLoginForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Iniciar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Dirección de mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">No vamos a compartir esta información con nadie</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
                      </div>
                      <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary ms-2">Iniciar sesión</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </nav>
<!-- END Navbar -->