  <!-- Cursos -->
  <div class="card mat-card mx-auto" id="courses">
    <div id="info">
        <div class="title mb-1">
            <h3>Cursos</h3>
            <i class="fa-solid fa-plus"></i>
        </div>

        <div class="row align-item-center">
            <div class="col">
                <div class="border-left border-primary pt-2 pl-4 ml2">
                    <div class="position-relative ex-me mb-4">
                        <h5>Introducción a la ciberseguridad: uso de las tecnologías de la información. <i class="fa-solid fa-pen-to-square"></i><i class="fa-regular fa-square-minus"></i></h5>
                        <p class=" text-muted mb-1"><strong>Instituto Nacional de la Administración Pública (INAP)  </strong> <small>MAYO 2021</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Cursos -->